*{
    margin:0px;
    font-family: "inter";
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
    
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image:url(./imagens/fundo-menusuperior.svg) ;
    background-size: 100%;
    color: aliceblue
    }

#munuinformacional{
    background-color:#EAECE5 ;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
  }

  .icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
  }

  #secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
  }

  .texto-informativo{
    display: flex;
    align-items: center;
  }

  #titulovideo{
    color: #247BA0;
    margin-top: 50px;
  }

  #video{
    margin: 50px 25px 50px 100px;
  }

#carrossel{
  background-color: #247BA0;
  padding: 50px;
}

#titulo-carrossel{
  color: #EAECE5;
  text-align: center;
  font-size: 25px;
}
#div-cards{
  margin-top: 25px;
  display: grid ;
  grid-auto-flow: column;
  
}

.card{
  margin-left: 50px;
}

#seta-esquerda{
  display: none;
}

#bruna{
  display: none;
}

.seta{
  margin-top: 43px;
  cursor: pointer;
}

#seta-esquerda{
  margin-top: 63px;
  
}

.seta:hover{
  transform: translateY(-7px);
  transition-duration: 0.5s;
}

#formulario{
  text-align: center;
}

#titulo-formulario{
  font-size: 25px;
  margin: 25px;
  color:  #383838;
}

input{
  width: 300px;
  height: 40px;
  background-color: #EAECE5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}

button{
  background-color: #247BA0;
  height: 40px;
  width: 250px;
  color: #EAECE5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;

}
button:hover{
  background-color: #318fb8;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #0510308e;
  transition-duration: 0.5s;

}